@page "/TopicDetails/{TopicId:int}"
@using UserRequest.Shared
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

@if (topic == null)
{
    <p><em>Chargement...</em></p>
}
else
{
    <div class="container">
        <div class="row" style="margin-bottom:3rem">
            <div class="col col-1" style="padding-left:5px;padding-right:5px;">
                <div class="alert alert-secondary" role="alert" style="padding:.5rem;margin-bottom:.5rem;text-align:center"><span style="font-size: 24px;font-weight: bolder;">@topic.Votes</span><br />votes</div>
                <button type="button" style="width:100%" class="btn btn-outline-secondary" @onclick="() => VoteTopic()">voter</button>
            </div>

            <div class="col col-11">
                <h1><a href="/TopicDetails/@topic.Id">@topic.Title</a></h1>
                <p class="font-weight-normal" >@topic.Text</p>
                <p class="font-weight-light" style="margin-bottom:3rem">Par: @topic.Author le: @topic.Created.ToShortDateString()</p>

                <h5>@topic.CommentsCount Commentaires</h5>
                <div class="form-group">
                    <textarea placeholder="Ajouter un commentaire ?" class="form-control" id="newComment" rows="5" @onchange="@((args) => NewComment = args.Value.ToString())" />
                </div>
                <button type="button" style="width:100%;margin-bottom:3rem" class="btn btn-outline-secondary" @onclick="() => CommentTopic()">Poster un commentaire</button>
                
                @foreach (var comment in topic.Comments)
                {
                    <span class="font-weight-light" style="margin-bottom:0.5rem">Par: @comment.Author le: @comment.Created.ToShortDateString()</span>
                    <p class="font-weight-normal" style="margin-bottom:3rem">@comment.Comment</p>
                }
            </div>
        </div>
    </div>
}

<ModalCancel @ref="modalCancel" title="Authentification Requise" Body="Seuls les utilisateurs connectes peuvent voter"></ModalCancel>


@code {
    private Topic topic;

    [Parameter]
    public int TopicId { get; set; }

    Microsoft.AspNetCore.Components.Authorization.AuthenticationState authState = null;

    ModalCancel modalCancel;

    string NewComment;

    protected override async Task OnInitializedAsync()
    {
        var client = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");
        topic = await client.GetFromJsonAsync<Topic>($"api/Topic/GetDetails?topicId={TopicId}");
        authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    }


    private void VoteTopic()
    {
        if (authState != null && authState.User.Identity.IsAuthenticated)
        {
            var res = Http.PostAsJsonAsync<int>($"api/Topic/Vote?topicId={TopicId}", TopicId);
        }
        else
        {
            modalCancel.ShowModal();
        }
    }

    private void CommentTopic()
    {
        if (authState != null && authState.User.Identity.IsAuthenticated)
        {
            var res2 = Http.PostAsJsonAsync<string>($"api/Topic/CommentTopic?topicId={TopicId}&NewComment={NewComment}", NewComment);
            res2.ContinueWith((r) =>
            {
                topic = r.Result.Content.ReadFromJsonAsync<Topic>().Result;
                StateHasChanged();
            });
        }
        else
        {
            modalCancel.ShowModal();
        }
    }
}
