@page "/TopicDetails/{TopicId:int}"
@using UserRequest.Shared
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory

<h1>Details du sujet</h1>
<h3>Derniers sujets crees par les internautes.</h3>

@if (topic == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="card">
        <h5 class="card-header"><span><button @onclick="() => VoteTopic()">+1</button>Current count: @topic.Votes @topic.Title</span></h5>
        <div class="card-body">
            <p class="card-text">@topic.Text</p>
            Commentaires :
            @foreach (var comment in topic.Comments)
            {
                <p class="card-text">@comment.Comment</p>
            }
            <p class="card-text">@topic.Text</p>
        </div>
    </div>
}

<ModalCancel @ref="modalCancel" title="Authentification Requise" Body="Seuls les utilisateurs connectes peuvent voter"></ModalCancel>


@code {
    private Topic topic;

    [Parameter]
    public int TopicId { get; set; }

    Microsoft.AspNetCore.Components.Authorization.AuthenticationState authState = null;

    ModalCancel modalCancel;

    protected override async Task OnInitializedAsync()
    {
        var client = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");
        topic = await client.GetFromJsonAsync<Topic>($"api/Topic/GetDetails?topicId={TopicId}");
    }


    private void VoteTopic()
    {
        if (authState != null && authState.User.Identity.IsAuthenticated)
        {
            var res = Http.PostAsJsonAsync<int>($"api/Topic/Vote?topicId={TopicId}", TopicId);
        }
        else
        {
            modalCancel.ShowModal();
        }
    }
}
